body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

.title{
font-size:48px;
margin-top:20px;
}

.token{
position:absolute;
top:20px;
right:30px;
background:white;
padding:15px;
border-radius:10px;
}

.products{
display:flex;
justify-content:center;
gap:30px;
margin-top:60px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:200px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.card img{
width:120px;
}

button{
background:#28a745;
color:white;
border:none;
padding:10px;
cursor:pointer;
}
